<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Phat's Test Page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link font-weight-bold font-italic" asp-area="" asp-controller="Home" asp-action="Index">ASP.NET PLAYGROUND</a>
                    </li>
                    <hr/>
                    <li class="nav-item font-weight-bold">
                        <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="projects" asp-action="index">Projects</a>
                    <li class="nav-item font-weight-bold">
                        <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="users" asp-action="index">Users</a>
                    </li>
                </ul>
            </nav>
            <hr class="dropdown-divider"/>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - AspnetPlaygroundV1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
