
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en-gb">
<head>
    <h1 class="text-center">Task List</h1>
</head>
<body>
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <td>To Do</td>
                <td>In Progress</td>
                <td>Complete</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a class="btn-link" asp-controller="Tasks" asp-action="Test" >TEST</a>
                </td>
                <td>Task Two</td>
                <td>Task Three</td>
            </tr>
        </tbody>
    </table>
</body>
</html>



